form{
    border: solid 1px;
    width: 600px;
    margin-left: 500px;
    background-color: bisque;
    font-size: 20px;
    padding-left: 10px;
    border-radius: 20px;
}
h1{
    text-align: center;
    color: red;
    font-size: 30px;
}
p{
    color: blue;
    font-size: 20px;
    text-align: center;
}
label{
    font-size: 20px;
    color: brown;
}
button{
    color: black;
    font-size: 20px;
    height: 40px;
    width: 100px;
    background-color: lightskyblue;
    border-radius: 20px;
}
input{
    border-radius: 20px;
}
textarea{
    border: solid 2px;
    border-radius: 20px;
}